/*
  CSS DIRECTORY
    1. =GLOBAL
    2. =CANVAS
*/

/* ===GLOBAL=== */

/* Reset */

:root {
  --clr-bg: hsl(0deg 0% 90%);
  --clr-fg: hsl(0deg 0% 95%);
  --clr-border: hsl(0deg 0% 5%);
  --clr-content: hsl(0deg 0% 5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: hsl(0deg 0% 15%);
    --clr-fg: hsl(0deg 0% 20%);
    --clr-content: hsl(0deg 0% 95%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-content);
  font-family: monospace;
}

/* Media */

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

main {
  margin: 1rem auto;
  max-width: 640px;
}

/* ===CANVAS=== */

.canvas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.canvas__pixel {
  width: 40px;
  height: 40px;
  outline: 1px solid var(--clr-border);
  background-color: var(--clr-fg);
}

.canvas__pixel--colored {
  background-color: blue;
}
