/*
  CSS DIRECTORY
    1. =GLOBAL
    2. =CANVAS
*/

/* ===GLOBAL=== */

/* Reset */

:root {
  --clr-base: hsl(0deg 0% 95%);
  --clr-base-secondary: hsl(from var(--clr-base) h s calc(l + 5));
  --clr-content: hsl(0deg 0% 5%);
  --clr-content-secondary: hsl(from var(--clr-content) h s calc(l + 25));
  --clr-border: hsl(0deg 0% 5% / 50%);
  --clr-hover: hsl(from var(--clr-content) h s l / 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-base: hsl(0deg 0% 10%);
    --clr-content: hsl(0deg 0% 95%);
    --clr-content-secondary: hsl(from var(--clr-content) h s calc(l - 25));
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  background-color: var(--clr-base);
  color: var(--clr-content);
  font-family: monospace;
}

/* Media */

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* ===CANVAS=== */

main {
  margin: 1rem auto;
  width: 640px;
}

.btn-list {
  margin-top: 0.25rem;
}

button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-base-secondary);
  color: var(--clr-content-secondary);
  font: inherit;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 999px 999px var(--clr-hover);
}

.canvas {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.65rem;
  width: 640px;
  height: 640px;
}

.canvas__pixel {
  outline: 1px solid var(--clr-border);
  background-color: var(--clr-base-secondary);
}
